{% extends 'base.html' %}
{% load static %}

{% block title %}Registro - StakeFolclor{% endblock %}

{% block content %}

<div class="container section-pad">
    <div class="row justify-content-center">
        <div class="col-md-5">

            <div class="sf-auth-card">

                <h2 class="text-center mb-4">
                    Crear cuenta
                </h2>

                <form method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label>Usuario</label>
                        {{ form.username }}
                        {% if form.username.errors %}<div style="color:#ef4444;font-size:.8rem;margin-top:.3rem">{{ form.username.errors.0 }}</div>{% endif %}
                    </div>

                    <div class="mb-3">
                        <label>Correo</label>
                        {{ form.email }}
                        {% if form.email.errors %}<div style="color:#ef4444;font-size:.8rem;margin-top:.3rem">{{ form.email.errors.0 }}</div>{% endif %}
                    </div>

                    <div class="mb-3">
                        <label>contraseña</label>
                        {{ form.password1 }}
                        {% if form.password1.errors %}<div style="color:#ef4444;font-size:.8rem;margin-top:.3rem">{{ form.password1.errors.0 }}</div>{% endif %}
                    </div>

                    <div class="mb-3">
                        <label>Confirmar contraseña</label>
                        {{ form.password2 }}
                        {% if form.password2.errors %}<div style="color:#ef4444;font-size:.8rem;margin-top:.3rem">{{ form.password2.errors.0 }}</div>{% endif %}
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        Registrarse
                    </button>

                </form>

                <div class="text-center mt-3">
                    <a href="{% url 'accounts:login' %}">
                        Ya tengo cuenta
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}
