{% extends 'base.html' %}
{% load static %}

{% block title %}Registro - StakeFolclor{% endblock %}

{% block content %}

<div class="container section-pad">
    <div class="row justify-content-center">
        <div class="col-md-5">

            <div class="sf-auth-card">

                <h2 class="text-center mb-4">
                    Crear cuenta
                </h2>

                <form method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label>Usuario</label>
                        {{ form.username }}
                    </div>

                    <div class="mb-3">
                        <label>Correo</label>
                        {{ form.email }}
                    </div>

                    <div class="mb-3">
                        <label>contraseña</label>
                        {{ form.password1 }}
                    </div>

                    <div class="mb-3">
                        <label>Confirmar contraseña</label>
                        {{ form.password2 }}
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        Registrarse
                    </button>

                </form>

                <div class="text-center mt-3">
                    <a href="{% url 'accounts:login' %}">
                        Ya tengo cuenta
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}
